html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#titleDisplay {
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 25px;
}

#infoDisplay {
    width:100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

#infoDisplay p {
    margin-right: 35px;
}

#messageDiv {
    width: 800px;
    height: 200px;
    position: relative;
}

#mainDiv {
    width:100vw;
    height:75vh;
    display: flex;
    justify-content: center
}

#spamBar {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center
}

#whiteBox {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#blackBox {
    max-width: 100vw;
    width:100vw;
    height:100%;
    position: absolute;
}

#greenBar {
    width: 0;
    height:100%;
    position: absolute;
    display: none;
    z-index: 2;
}

#grayBar {
    width: 0;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 4;
}

#fishingHook {
    width: 52px;
    height: 80px;
    position: absolute;
    display: none;
    z-index: 5;
}

#fishBar {
    width: 100px;
    height:100px;
    position: absolute;
    display: none;
    z-index: 3;
}

#riverImage {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('river.png');
    background-size: 100% 80vh;
    background-repeat: no-repeat
}

#jimmy {
    position: fixed;
    left: 40vw;
    width: 800px
}